<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c2463ee42e3f4a908d481ea8b92f0080 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c2463ee42e3f4a908d481ea8b92f0080" ></div>
        
</body>
<script>    
    
            var map_c2463ee42e3f4a908d481ea8b92f0080 = L.map(
                "map_c2463ee42e3f4a908d481ea8b92f0080",
                {
                    center: [48.84064284370186, 2.319820501512474],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_240855759ad94a63b3c6b876c3af07bf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
    
            var marker_ea02ba500687490797bd4b8fcc951d92 = L.marker(
                [48.84064284370186, 2.319820501512474],
                {}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
    
            var div_icon_02fa0741a5af4216a331601b2069582b = L.divIcon({"className": "empty", "html": "\u003ch4\u003e1\u003c/h4\u003e"});
            marker_ea02ba500687490797bd4b8fcc951d92.setIcon(div_icon_02fa0741a5af4216a331601b2069582b);
        
    
            var marker_81cf0fe70d294dc89592bf5944ca4ac9 = L.marker(
                [48.84064284370186, 2.319820501512474],
                {}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
    
        var popup_d0291359bece4bb088be23b6c75495a6 = L.popup({"maxWidth": "100%"});

        
            var html_9a9dbd4220bd40479fffd3bcca0c30b1 = $(`<div id="html_9a9dbd4220bd40479fffd3bcca0c30b1" style="width: 100.0%; height: 100.0%;"><strong>Paris-Montparnasse</strong><b>(48.84064284370186, 2.319820501512474)</b></div>`)[0];
            popup_d0291359bece4bb088be23b6c75495a6.setContent(html_9a9dbd4220bd40479fffd3bcca0c30b1);
        

        marker_81cf0fe70d294dc89592bf5944ca4ac9.bindPopup(popup_d0291359bece4bb088be23b6c75495a6)
        ;

        
    
    
            marker_81cf0fe70d294dc89592bf5944ca4ac9.bindTooltip(
                `<div>
                     Paris-Montparnasse
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1e387efd7f37411d818c174092111254 = L.marker(
                [45.76691187923342, 3.134295625201944],
                {}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
    
            var div_icon_d1ad0e54ecf7453bb9e85a9ed07dbdb9 = L.divIcon({"className": "empty", "html": "\u003ch4\u003e2\u003c/h4\u003e"});
            marker_1e387efd7f37411d818c174092111254.setIcon(div_icon_d1ad0e54ecf7453bb9e85a9ed07dbdb9);
        
    
            var marker_ca5a563194cf42938b731616287f3546 = L.marker(
                [45.76691187923342, 3.134295625201944],
                {}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
    
        var popup_fe551f5401f84fa88489632d0712e965 = L.popup({"maxWidth": "100%"});

        
            var html_15ad65cb2c48451b9eed3cc05d29c809 = $(`<div id="html_15ad65cb2c48451b9eed3cc05d29c809" style="width: 100.0%; height: 100.0%;"><strong>Clermont-La Pardieu</strong><b>(45.76691187923342, 3.134295625201944)</b></div>`)[0];
            popup_fe551f5401f84fa88489632d0712e965.setContent(html_15ad65cb2c48451b9eed3cc05d29c809);
        

        marker_ca5a563194cf42938b731616287f3546.bindPopup(popup_fe551f5401f84fa88489632d0712e965)
        ;

        
    
    
            marker_ca5a563194cf42938b731616287f3546.bindTooltip(
                `<div>
                     Clermont-La Pardieu
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ba5e62a89b643939fdebb196697562d = L.marker(
                [45.748088539684176, 4.823194036939477],
                {}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
    
            var div_icon_a4274d057d35481fb99216b615bb522e = L.divIcon({"className": "empty", "html": "\u003ch4\u003e3\u003c/h4\u003e"});
            marker_7ba5e62a89b643939fdebb196697562d.setIcon(div_icon_a4274d057d35481fb99216b615bb522e);
        
    
            var marker_2bc2539a64864aecb800178d2a23cc92 = L.marker(
                [45.748088539684176, 4.823194036939477],
                {}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
    
        var popup_802f31e0fa7b47c494e854b00b99c26a = L.popup({"maxWidth": "100%"});

        
            var html_9b81d50ebee443938544723bb3409343 = $(`<div id="html_9b81d50ebee443938544723bb3409343" style="width: 100.0%; height: 100.0%;"><strong>Lyon-Perrache</strong><b>(45.748088539684176, 4.823194036939477)</b></div>`)[0];
            popup_802f31e0fa7b47c494e854b00b99c26a.setContent(html_9b81d50ebee443938544723bb3409343);
        

        marker_2bc2539a64864aecb800178d2a23cc92.bindPopup(popup_802f31e0fa7b47c494e854b00b99c26a)
        ;

        
    
    
            marker_2bc2539a64864aecb800178d2a23cc92.bindTooltip(
                `<div>
                     Lyon-Perrache
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_4248f028223f4c628a077c1baf497879 = L.polyline(
                [[48.84064284370186, 2.319820501512474], [45.76691187923342, 3.134295625201944], [45.748088539684176, 4.823194036939477]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c2463ee42e3f4a908d481ea8b92f0080);
        
</script>